/* HERO SECTION */
.contact-hero-section {
  background: linear-gradient(135deg, #000000, #434343);
  padding: 80px 0;
}

.contact-hero-title {
  font-size: 50px;
  font-weight: bold;
}

.contact-hero-description {
  max-width: 700px;
  margin: 20px auto 0;
  font-size: 17px;
  opacity: 0.9;
}

/* CONTACT FORM */
.contact-form-card {
  background: #ffffff;
  border-radius: 10px;
}

.contact-form-section {
  padding: 60px 0;
}


.faq-section {
  background: #f7f7f7;
}

.accordion-button {
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #000;
}

.accordion-body {
  background: #ffffff;
}


.section-title {
  font-size: 32px;
  font-weight: bold;
}
